.app {
  width: 100%;
  min-height: 100vh;
  background-color: #12263A;
  overflow: hidden;
  position: relative;
}

.mode-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body.overlay-active {
  overflow: hidden;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}