services:
  mongo:
    image: mongo:7
    container_name: portfolio-mongo
    ports:
      - "27019:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - portfolio-network

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: portfolio-server
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGODB_URI=mongodb://mongo:27017/portfolio
    depends_on:
      - mongo
    networks:
      - portfolio-network
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: portfolio-client
    ports:
      - "3000:3000"
    depends_on:
      - server
    networks:
      - portfolio-network
    volumes:
      - ./client:/app
      - /app/node_modules

networks:
  portfolio-network:
    driver: bridge

volumes:
  mongo-data:

